body, html {
  height: 100%;
  margin: 0;
}

.parallax {
    background-image: url('../assets/images/talltree.jpg');
    height: 90%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.parallax2 {
    background-image: url('../assets/images/snowbike.jpg');
    height: 70%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 {
    background-image: url('../assets/images/oceanview.jpg');
    height: 60%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.textbox {
    height: contain;
    width: fill;
    background-image: url('../assets/images/backgroundcoffee.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.experience {
    height: 125px;
}

.education {
    height: 400px;
}

.experience h1,
.education h1 {
    color: white;
    margin-top: 0;
    text-align: center;
    font-size: 1.4rem;
    font-family: 'Fjalla One', sans-serif;
}

.education h1 {
    padding-top: 2.5%;
}

.logo {
    height: 30%;
    width: fill;
    background-image: url('../assets/images/texas.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    margin: 0;
}

.logo h1 {
    color: white;
    text-align: right;
    padding-right: 8rem;
    font-size: 1.1rem;
    font-family: 'Fjalla One', sans-serif;
}



.bornhere h1 {
    color: white;
    margin: 0;
}

.footer {
    height: 10%;
    width: 100%;
    margin: 0;
    background-image: url('../assets/images/backgroundcoffee.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.footer h1 {
    margin: 0;
    color: white;
    text-align: center;
    font-size: 2rem;
    font-family: 'Fjalla One', sans-serif;
    padding-top: 3%;
}

.footer h1 a {
    color: white;
}

.experience h1 a,
.logo h1 a {
    color: grey;
}

.experience h1 a:hover,
.logo h1 a:hover {
    color: black;
}

.footer h1 a:hover {
    color: grey;
}

@media (max-width: 1050px) {
    .education h1,
    .experience h1,
    .footer h1,
    .logo h1 {
        font-size: 0.8rem;
    }

    .education h1,
    .experience h1 {
        padding-top: 25%;
    }


}
