body {
    margin: 0;
    background-color: #333333;
    background-image: url(../assets/images/backgroundcoffee.jpg);
    background-attachment: fixed;

    background-position: center top;
}

.navbar .logo {
    image-orientation: left;

}

.navbar .navbar-link {
    text-align: right;
}

.selfie {
    background-image: url(../assets/images/desertvan.jpg);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 800px;
}

.selfie h1 {
    font-size: 100px;
    text-align: center;
    height: 200px;
    margin-bottom: 200px;
    color: white;
}
