body {
    background-color: black;
}

.parallax {
  margin: 0;
  background-image: url(../assets/images/desertvan.jpg);
  height: 1000px;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.parallax h1 {
    position: fixed;
    color: white;
    padding-left: 60%;
    padding-top: 20%;
}



.selfie {
    background-image: url(../assets/images/backgroundcoffee.jpg);
    background-position: absolute;
    height: 1000px;
}



.logo {
  background-image: url(../assets/images/logoSam.png);
  height: 700px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-position: absolute;
  margin-top: 100px;
  z-index: 2;
}

.links h1  {
    color: white;
    padding-top: 50%;
    padding-left: 36%;
}
