body {
    background-image: url('../assets/images/backgroundcoffee.jpg');
}

.form {
    padding-top: 15%;
    padding-left: 40%;
}

.footer {
    height: 10%;
    width: 100%;
    margin: 0;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.footer h1 {
    margin: 0;
    color: white;
    text-align: center;
    font-size: 2rem;
    font-family: 'Fjalla One', sans-serif;
    padding-top: 3%;
}

.footer h1 a {
    color: white;
}

.footer h1 a:hover {
    color: grey;
}
