body {
    background-image: url('../assets/images/backgroundcoffee.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg {
  text-align: center;
  top: 50%;
}
