@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

body {
    background-image: url('../assets/images/backgroundcoffee.jpg');
}

.form {
    padding-top: 15%;
    padding-left: 40%;
}

.footer {
    height: 10%;
    width: 100%;
    margin: 0;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.footer h1 {
    margin: 0;
    color: white;
    text-align: center;
    font-size: 2rem;
    font-family: 'Fjalla One', sans-serif;
    padding-top: 3%;
}

.footer h1 a {
    color: white;
}

.experience {
  width: 100%;
  background-color: white;
  opacity: 0.3;
  padding-left: 5px;
  padding-right: 5px;
}

.screenshot{
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}

.screenshot img {
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.screenshotuber {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.screenshotuber img {
  max-width: 100%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

.experience h1,
.experience h3 {
  color: black;
  font-family: 'Fjalla One', sans-serif;
}

.experience h1 {
  text-align: center;
}

.footer h1 a:hover {
    color: grey;
}

a {
    text-decoration: none;
    color: #fff;
}
p > a:hover{
    color: #d9d9d9;
    text-decoration:  underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin:  1% 0 1% 0;
}
._12 {
    font-size: 1.2em;
}
._14 {
    font-size: 1.4em;
}
ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: inline-block;
    vertical-align: middle;

}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}

.fa-instagram {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-instagram:hover {
    background-color: #eb8231;
}

.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-github {
    padding:10px 9px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-github:hover {
    background-color: black;
}

@media (max-width: 1050px) {
    .form {
        padding-left: 0;
    }
}
