body, html {
  height: 100%;
  margin: 0;
}

.parallax {
    background-image: url('../assets/images/citytosea.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    background-image: url('../assets/images/desertvan.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.textbox {
    height: contain;
    width: fill;
    background-image: url('../assets/images/backgroundcoffee.jpg');
    background-size: contain;

    background-position: center;
    margin: 0;
}

.logo {
    height: 70%;
    width: fill;
    background-image: url('../assets/images/logoSam.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}

}
