body {
    background-color: black;
    margin: 0;
}

.parallax {
  margin: 0;
  background-image: url(../assets/images/citytosea.jpg);
  height: 85%;
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;


}

.parallax h1 {
    position: fixed;
    color: white;
    padding-left: 30%;
    padding-top: 60%;
    z-index: -1;
}

.parallax h2 {
    position: fixed;
    color: white;
    padding-left: 10%;
    padding-top: 10%;
    z-index: -1;
}


.selfie {
    background-image: url(../assets/images/backgroundcoffee.jpg);
    background-position: absolute;
    height: 80%;
    z-index: 1;
}



.logo {
  background-image: url(../assets/images/logoSam.png);
  height: 90%;
  background-size: contain;
  background-repeat: no-repeat;

  background-position: center;
  margin-top: 30%;

}

.links h1 {
    padding-top: 50%;
    padding-left: 36%;
}

.links a {
    color: white;
}

.links a:hover {
    color: yellow;
}
